@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Josefin+Sans:300,400,700|Shadows+Into+Light|Raleway:400,200,900|Telex);
@import url(font-awesome.min.css);

body {
	font-family: 'Lato', sans-serif;
	background:#006fb9;
}
.page-content{
	padding:8px 20px 24px;
}
.img_border{
	border:6px solid #fff;
	border-radius:100%;
	-webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
.lock_box h1{
	color:#BDC3C7;
	text-shadow: 0 0 10px #333;
	font-size: 80px;
}
.lock_box p{
	text-shadow: 0 0 5px #333;
	color:#fff;
	font-size: 14px;
	font-weight: 700;
}